<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.megvii.livenesslib">

    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="com.megvii.livenesslib.LivenessActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
